<div class="slides">
        <div class="img-container">
            <img src="/static/cartoon-doctors-nurses-collection-illustration/5216002.jpg">
            <img src="/static/medical-good-team-hospital-staff-doctors-nurse-illustration/1604.m00.i125.n014.S.c12.400488715 Medical team. Hospital staff vector illustration.jpg">
            <img src="/static/organic-flat-doctors-nurses-with-stethoscope/5173348.jpg">
            <img src="/static/cartoon-doctors-nurses-collection-illustration/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical/10130.jpg">
        </div>
    </div>